@model Project1.UI.ViewModels.LoanPaymentVM

<h1>Withdraw</h1>
@if (!Model.PaidOff)
{
    <b><span asp-validation-for="PaidOff" class="text-danger"></span></b>
    <h3>How much would you like to pay?</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Payment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="PaidOff" hidden />
                    <br />
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PaymentFromAccount" /> @Html.DisplayNameFor(model => model.PaymentFromAccount)
                    </label>
                </div>
                <div>
                    Your accounts:
                    <ul>
                        @foreach (var item in Model.Accounts)
                        {
                            if (!item.IsClosed)
                            {
                                <li>
                                    @item.AccountType account #@item.Id: @item.NickName - Balance of @item.Balance
                                </li>
                            }
                        }
                    </ul>
                </div>
                <label asp-for="AccountID" class="control-label"></label>
                @Html.DropDownListFor(m => m.AccountID,
     new SelectList(Model.Accounts, "Id", "Id"), "Select account to make a payment from.")
            <div class="form-group">
                <label class="form-check-label" asp-for="Amount" />
                <input class="form-check-input" asp-for="Amount" />
                <span asp-validation-for="Amount"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Payment" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <h3>That loan has already been paid off.</h3>
    <hr />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}