@model IEnumerable<Project1.Models.Accts.CheckingAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Checking Accounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.NickName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                @if (item.IsClosed)
                {
                    <td>
                        Closed Account.
                    </td>
                }

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Close" asp-route-id="@item.Id">Close</a>
                </td>
            </tr>
        }
    </tbody>
</table>
