@model IEnumerable<Project1.Models.Accts.Account>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                @if (item.IsClosed)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td>
                        Closed Account.
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td>
                        <a asp-action="Deposit" asp-route-id="@item.Id">Deposit</a> |
                        <a asp-action="Withdraw" asp-route-id="@item.Id">Withdraw</a> |
                        <a asp-action="Transfer" asp-route-id="@item.Id">Transfer</a>
                        <br />
                        <a asp-action="Transactions" asp-route-id="@item.Id">Transaction History</a> |
                        <a asp-action="Close" asp-route-id="@item.Id">Close</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

